<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the Planets</title>
</head>
<body>
    <h1>Edit Planetarium Inventory</h1>
  <form action="/planets" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      <label for="hasAMoon">Has a moon</label>
      <input type="checkbox" name="hasAMoon" id="hasAMoon" />
      <label for="age">Planets Age:</label>
      <input type="number" name="age" id="age" />
    </form>

      <button type="submit">Edit Fruit</button>
    </form>
</body>
</html>